@media screen{
    body{
	    background-color: rgb(26,32,94);
		color: white;
		font-family: arial;
		font-size: 14px;
	}
	#homelink{
	    color: white;
		font-size: 20px;
		text-decoration: none;
	}
    #FavLink{
        color: white;
        font-size: 20;
        text-decoration: none;
    }
	#überschrift{
	    margin-left: 25%;
		font-size: 48px;
    }
	#tabelle.boxed{
	   margin-left: 5%;
    }
	#button{
	    margin-left: 105%;
	}
	#bild{
	    position: absolute; 
		top: 5%; 
 		right: 5%; 
    } 
}